{% extends "base.html" %}
{% block home %}
<div class="w-[70%] mx-auto">
  
  <p class="text-center mt-7"><a href="{%url 'create_room' %}" class="bg-green-500 py-5 px-3 rounded-full text-white">Create New Room</a></p>

  <div class="w-fit mx-auto mt-10 flex gap-10">

    <div>
      <h1>Active Public Rooms:</h1>
      {% if public_rooms %}
      {% for room in public_rooms %}
        <div class="w-[450px] border-2 border-sky-500 mb-3 p-4 rounded-lg">
          <div class="flex justify-between mb-5">
            <p class="font-bold text-lg">{{room.name}} <span class="text-xs font-normal">({{room.user.username}})</span></p>
            {% if room.difficulty == 'easy' %}
              <p class="rounded-full bg-green-500 inline-block text-sm text-white px-2 py-1">{{room.difficulty}}</p>
            {% elif room.difficulty == 'medium' %}
              <p class="rounded-full bg-orange-400 inline-block text-sm text-white px-2 py-1">{{room.difficulty}}</p>
            {% elif room.difficulty == 'hard' %}
              <p class="rounded-full bg-red-500 inline-block text-sm text-white px-2 py-1">{{room.difficulty}}</p>
            {% endif %}
          </div>
          <a href="{% url "join_room" room.id %}" class="bg-orange-200 py-2 px-1 rounded">Join Room</a>
        </div>
      {% endfor %}
      {% else %}
      There are no games right now!
      {% endif %}
    </div>
    <div>
      <h1>Your Ongoing Games:</h1>
      {% if active_rooms %}
      {% for room in active_rooms %}
        <div class="w-[450px] border-2 border-sky-500 mb-3 p-4 rounded-lg">
          <div class="flex justify-between mb-5">
            <p class="font-bold text-lg">{{room.name}} <span class="text-xs font-normal">({{room.user.username}})</span></p>
            {% if room.difficulty == 'easy' %}
              <p class="rounded-full bg-green-500 inline-block text-sm text-white px-2 py-1">{{room.difficulty}}</p>
            {% elif room.difficulty == 'medium' %}
              <p class="rounded-full bg-orange-400 inline-block text-sm text-white px-2 py-1">{{room.difficulty}}</p>
            {% elif room.difficulty == 'hard' %}
              <p class="rounded-full bg-red-500 inline-block text-sm text-white px-2 py-1">{{room.difficulty}}</p>
            {% endif %}
          </div>
          <a href="{% url "join_room" room.id %}" class="bg-orange-200 py-2 px-1 rounded">Join Room</a>
        </div>
      {% endfor %}
      {% else %}
      There are no games right now!
      {% endif %}
    </div>
  </div>
</div>
{% endblock home %}