.tile {
  border: 1px solid black;
  border-color: black !important; 
}

.tile:first-child {
  border-left: solid 4px;
}

.tile:nth-child(3n) {
  border-right: solid 4px;
}


.third .tile {
  border-top: solid 4px;
}

.last .tile {
  border-bottom: solid 4px;
}